<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Raffles Hills</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsDefault" [collapse]="isCollapsed">
      <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
        <li *ngFor="let navMenu of nMenu" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/{{navMenu.Program}}">{{navMenu.MenuName}}</a>
        </li>
        <li *ngFor="let menu of dMenu" class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle>
            {{ menu.MenuName }}
          </a>
          <div class="nav-item dropdown-menu" *dropdownMenu>
            <a *ngFor="let child of menu.MenuChild" 
              class="nav-item dropdown-item" routerLink="/{{child.Program}}" routerLinkActive="active">
              {{ child.MenuName }}
            </a>
          </div>
        </li>
      </ul>
    
      <!-- <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">        
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/transaksi']">Transaksi</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/laporan']">Laporan</a>
        </li>
        <li class="nav-item dropdown" dropdown>   
            <a class="nav-link dropdown-toggle" dropdownToggle>
                Setting
            </a>
            <div class="nav-item dropdown-menu" *dropdownMenu>
              <a class="nav-item dropdown-item" [routerLink]="['/users']" routerLinkActive="active">User </a>
              <a class="nav-item dropdown-item" [routerLink]="['/otorisasi']" routerLinkActive="active">Otorisasi</a>
              <div class="dropdown-divider"></div>
              <a class="nav-item dropdown-item" [routerLink]="['/kategori']" routerLinkActive="active" >Kategori</a>
              <a class="nav-item dropdown-item" [routerLink]="['/kegiatan']" routerLinkActive="active" >Kegiatan</a>
            </div> 
        </li>
      </ul> -->

      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
          <i class="fa fa-user mr-2"></i> {{authService.decodedToken?.unique_name | titlecase}}
        </a>

        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" href="#"><i class="fa fa-edit mr-2"></i>Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-sign-out mr-2"></i>Logout</a>
        </div>
      </div>
    </div>
    <div *ngIf="!loggedIn()" class="navbar-right">
      <button type="button" class="btn btn-success my-2 my-sm-0" (click)="openModal(template)">Login</button>
    </div>
  </div>
</nav>

<ng-template #template>
  <form class="form-signin" #loginform="ngForm" (ngSubmit)="login()">
    <div class="text-center mt-4">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    </div>

    <div class="container">
      <div class="text-center col-md-12 mt-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
          </div>
          <input class="form-control mr-sm-2" type="text" name="username" required placeholder="Username"
            [(ngModel)]="model.username">
        </div>

        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
          </div>
          <input class="form-control mr-sm-2" type="password" name="password" required placeholder="Password"
            [(ngModel)]="model.password">
        </div>
        <button [disabled]="!loginform.valid || process" class="btn btn-lg btn-success btn-block" type="submit">
          <span [hidden]="!process">
            <p-progressSpinner [style]="{width: '23px', height: '23px'}" strokeWidth="6" animationDuration="1s">
            </p-progressSpinner>
          </span>
          {{ LoginText }}
        </button>
      </div>
      <p class="mt-3 mb-5 text-muted text-center"></p>
    </div>
  </form>
</ng-template>